* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Arial", sans-serif;
}

body {
    background-color: #0d1117;
    color: #c9d1d9;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px;
    /* Aumentei o padding geral */
    gap: 40px;
    /* Maior espaçamento entre seções */
}

a {
    text-decoration: none;
    color: inherit;
    transition: color 0.3s ease;
}

a:hover {
    color: #58a6ff;
}